{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Weather App </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet">
    
</head>

<body> 


  <div class="container" style=" margin-left: 200px;">
    <h1 class="heading"> Weather App </h1>
    
    <form method="POST" action="/">
      {% csrf_token %}
      <input type="text" name="city" placeholder="Enter City">
      <button type="submit" class="btn">Search</button>
    </form>
    <div class="weather">
      <div class="left">
        <h2 class="temp">{{ temp }}&#176; C </h2>
        <h2 class="city">{{ city }}</h2>
        
      </div>
      <div class="right">
        <div class="icon">
          <p><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="120px" alt="icon"></p>
        </div>
        <div class="condition">
          <p>{{ description }} </p>
          <p>{{ day }} </p>
          <p> {{ time }} </p>
        </div>
      </div>
    </div>
  </div>


{% if exception_occurred %}
    <script>
        window.onload = function() {
          var cityName = "{{ city }}";
          if (!cityName) {
            cityName = "Enter another city";
          }

          alert("Error fetching weather data for '" + cityName + "'. Showing weather data for '" + cityName + "' instead.");
        }
    </script>
{% endif %} 

</body>
</html>
