{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
</head>

<body> 


  <div class="container" style=" margin-left: 200px;">
    <h1 class="heading">Weather App</h1>
    
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="city" placeholder="Enter City">
      <button type="submit" class="btn">Search</button>
    </form>
    <div class="weather">
      <div class="left">
        <h2 class="temp">{{ temp }}&#176; C</h2>
        <h2 class="city">{{ city }}</h2>
      </div>
      <div class="right">
        <div class="icon">
          <p><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="120px"></p>
        </div>
        <div class="condition">
          <p>{{ description }} </p>
          <p>{{ day }} </p>
          <p> {{ time }} </p>
        </div>
      </div>
    </div>
  </div>

{% comment %} writing js to over-come key-error exception {% endcomment %}
{% if exception_occurred %}
    <script>
        window.onload = function() {
            alert('error fetching weather data for '{{ city }}'. Showing weather data for 'city not available' instead.');
        }
    </script>
{% endif %} 

</body>
</html>

{% comment %} AIzaSyBqHCYdNLhe0uxqq4wdyFqI5J9wr78orbQ {% endcomment %}

  {% comment %} <form method="POST">
    {% csrf_token %}
    <input type="text" name="city" placeholder="Enter your city">
    <button type="submit"> search </button>
  </form>

  <h2>{{ temp }}</h2>
  <h3>{{ city }}</h3>
  <p>{{ description }}</p>
  <p>
    <img src="" alt="weather-images" width="100px">
  </p>
  <p>{{ day }}</p> {% endcomment %}